<template>
  <div class='min-vh-100 m-0 p-0'>
    <b-container fluid class="min-vh-100 m-0 p-0">
      <b-row class='w-100 min-vh-100 m-0'>
        <b-col :sm='col1' cols='0' id='menu'
          class='m-0 p-1' style="background-color: #4E74DB">
          <div v-if="col1=='1' && col2=='11'">
            <Sidebar />
          </div>
          <div v-else>
            <Sidebar :small="false" />
          </div>
          <b-button
            @click="openMenu()"
            style="border-radius:2em; height:3.1em; background-color:#8FA6E4; border:0;"
            class='mx-auto d-flex align-content-center mt-2'>
            <b-icon :icon='icon'
              class='mt-2 mx-auto'
              style="font-size:18px;"></b-icon>
          </b-button>
        </b-col>
        <b-col :sm='col2' cols='12'
          class='mt-0 p-0'>
            <b-row class='m-0 p-0 w-mw-100'>
              <b-col
                class='m-0 pl-0 w-100 pr-0'>
                  <Header />
              </b-col>
            </b-row>
            <b-col class="p-2">
              <b-row
                class='m-0 mt-2 mb-1 p-0'>
                <b-col 
                  class='w-100 m-0 d-flex justify-content-between align-items-center'>
                  <h4>Dashboard</h4>
                  <b-button id='generateBTN'
                    style="height:2.5em; font-size:0.9em;"
                    variant="primary">
                    <b-icon
                      icon='download' class='mr-1'>                      
                    </b-icon>
                    Generate report
                  </b-button>
                </b-col>
              </b-row>
              <b-row
                class='ml-0 mr-0 mb-1 mt-3 p-0'>
                <b-col
                  class='w-100 p-0'>
                  <b-row
                    class='h-100 m-0 p-0'>
                    <b-col cols="12" sm="3" 
                    :class="getClases()">
                      <Cards 
                        class='shadow h-100'
                        color='#4B6DCD;'
                        principalText='Earnigns (monthly)'
                        secondaryText= '$40,000'
                        icon='calendar-fill' />
                    </b-col>
                    <b-col cols="12" sm="3" 
                    :class="getClases()">
                      <Cards 
                        class='shadow h-100'
                        color='#3CC086'
                        principalText='Earnigns (annual)'
                        secondaryText= '$250,000'
                        icon='cash-stack' />
                    </b-col>
                    <b-col cols="12" sm="3" 
                      :class="getClases()">
                      <Cards 
                        class='shadow h-100'
                        color='#4BBCCD'
                        principalText='Tasks'
                        secondaryText= '25 | 50'
                        icon='clipboard' />
                    </b-col>
                    <b-col cols="12" sm="3" 
                    :class="getClases()">
                      <Cards 
                        class='shadow h-100'
                        color='#F3CF3D'
                        principalText='Pending requests'
                        secondaryText= '18'
                        icon='chat-text-fill' />
                    </b-col>
                  </b-row>
                </b-col>
              </b-row>
              <b-row
                class='m-0 p-0'>
                <b-col
                  class='w-100 ml-0 mr-0 mt-1 mb-1'>
                  <b-row class='h-100'>
                    <b-col cols="12" sm="8"
                      :class="getClases()">
                      <b-card  
                        no body
                        header="Earnings Overview"
                        class='h-100 shadow overflow-hidden mr-md-3'>
                        <b-row no-gutters class="h-100">
                          <b-card-img 
                            alt="Image"
                            class='d-flex my-auto'
                            src="https://picsum.photos/id/1025/800/500"></b-card-img>
                        </b-row>
                      </b-card>
                    </b-col>
                    <b-col cols="12" sm="4"
                    :class="getClases()">
                      <b-card  
                        no body
                        header="Revenue Sources"
                        class='h-100 shadow overflow-hidden'>
                        <b-row no-gutters class="h-100">
                          <b-card-img
                            alt="Image"
                            class='d-flex my-auto'
                            src="https://picsum.photos/id/1062/400/500"></b-card-img>
                        </b-row>
                      </b-card>
                    </b-col>
                  </b-row>
                </b-col>
              </b-row>
              <b-row
                class='m-0 p-0'>
                <b-col
                  class='w-100 ml-0 mr-0 mt-1 mb-1'>
                  <b-row class='h-100'>
                    <b-col cols="12" sm="6"
                      :class="getClases()">
                      <b-card  
                        no body
                        header="Projects"
                        class='h-100 shadow overflow-hidden mr-md-3'>
                        <b-row no-gutters class="h-100">
                          <b-card-img
                            alt="Image"
                            class='d-flex my-auto'
                            src="https://picsum.photos/id/1062/1000/1000"></b-card-img>
                        </b-row>
                      </b-card>
                    </b-col>
                    <b-col cols="12" sm="6"
                    :class="getClases()">
                      <b-card  
                        no body
                        header="Illustrations"
                        class='h-100 shadow overflow-hidden'>
                        <b-row no-gutters class="h-100">
                          <b-card-img
                            alt="Image" 
                            class='d-flex my-auto'
                            src="https://picsum.photos/id/1062/1000/1000"></b-card-img>
                        </b-row>
                      </b-card>
                    </b-col>
                  </b-row>
                </b-col>
              </b-row>
            </b-col> 
        </b-col>
    </b-row>
    </b-container>
  </div>
</template>

<script>
import Header from '../components/Header'
import Sidebar from '../components/Sidebar'
import Cards from '../components/Cards'

  export default {
      components: {
          Header, Sidebar, Cards
      },
      data() {
        return {
          col1: '1',
          col2: '11',
          icon: 'chevron-right'
        }
      },
      methods: {
        openMenu(){
          if(this.col1 === '1' && this.col2 === '11') {
            this.$root.$emit('bv::disable::popover', 'coll-1')
            this.$root.$emit('bv::disable::popover', 'coll-2')
            this.$root.$emit('bv::disable::popover', 'coll-3')
             return this.col1='2',
              this.col2='10',
              this.icon='chevron-left';
          } else {
            return this.col1= '1',
              this.col2= '11',
              this.icon='chevron-right';
          }
        },
        getClases() {
          return "mt-1 mb-1 mb-sm-0 mt-sm-0 pl-md-1 pr-md-1 pl-0 pr-0";
        }
      }
}
</script>

<style scoped>
@media (max-width: 580px) {
  #menu, #generateBTN {
    display: none;
  }
}
.card-header { 
  color:#4B6DCD;
  font-weight: bold;
  font-size: 1.1em;
}
.card-body { padding: 0; }
</style>
