<template>
  <div 
  class='mx-auto mt-0 mb-0 d-flex align-items-md-center principal min-vh-100'
  style='background-color: #5A82D9;'>
    <div class='container-fluid mr-3 ml-3'>
      <div class='row text-center'>
        <b-card no-body class="overflow-hidden mx-auto custom-container" 
        style='background-color: #E2DFF0'>
          <b-row no-gutters>
            <b-col md="6" cols="5" class='rounded-0 mx-auto my-auto'>
              <b-card-img :src="require('../assets/images/login-500.png')" 
                alt="Image" class="rounded-0 w-100">
              </b-card-img>
            </b-col>
            <b-col md="6" cols='12' style='background-color: #ffffff'>
              <b-card-body class='mx-auto'>
                <b-card-text
                  title="Welcome "
                  pa-0
                  height="100%"
                  class="mt-4 mx-auto"
                >
                    <h3 class='mt-4'>
                        Welcome back!
                    </h3>
                    <b-form class='mt-1 pl-3 pr-3 pt-3 pb-0'>
                        <b-form-group>
                          <b-form-input
                            v-model="form.email"
                            type="email"
                            placeholder="Enter email adress" required
                            size="lg"
                            class="form-inputs mt-2 mb-1 rounded-pill">
                          </b-form-input>
                        </b-form-group>
      
                        <b-form-group>
                            <b-form-input
                              v-model="form.password"
                              type="password"
                              size="lg"
                              placeholder="Password" required
                              class="form-inputs rounded-pill">
                            </b-form-input>
                        </b-form-group>

                        <b-form-group class='mb-3'>
                          <b-form-checkbox
                            v-model="form.rememberMe"
                            value='true'
                            unchecked-value="false"
                            class='position-absolute start-0 mt-1'>
                              Remember me
                          </b-form-checkbox>
                        </b-form-group>

                        <b-form-group>
                          <b-button 
                            block pill
                            type="submit" 
                            variant="primary"
                            style="padding: 0.9em;"
                            class="mt-4"
                            @click='redirect'>
                              Login
                          </b-button>
                        </b-form-group>
                    </b-form>
                    <hr />
                    <div class='pl-3 pr-3 pb-3 pt-0' >
                      <b-button 
                        block pill
                        variant="danger"
                        class="mt-4 p-3">
                          <b-icon icon="google" class='mr-2'></b-icon>
                              Login with google
                      </b-button>
                      <b-button 
                        block pill
                        style='background-color: #3b5998'
                        class="mt-2 p-3">
                          <b-icon icon="facebook" class='mr-2'></b-icon>
                              Login with facebook
                      </b-button>
                      <hr />
                      <p class='mb-1 mt-4'> 
                        <router-link to='/'>Forgot password?</router-link>
                      </p>
                      <p class='mb-1'>
                          <router-link to='/register'>Create an account!</router-link>
                        </p>  
                    </div>                       
                    </b-card-text>
              </b-card-body>
            </b-col>
          </b-row>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    data() {
      return {
        form: {
          email: '',
          password: '',
          rememberMe: []
        }
      }
    },
    methods: {
      redirect() {
        this.$router.push('/admin/dashboard')
      }
    }
}
</script>

<style>
.form-inputs {
    font-size: 100%;
    padding: 1.6em;
}
</style>