<template>
 <div
  class='mx-auto mt-0 mb-0 d-flex align-items-md-center min-vh-100'
  style='background-color: #5A82D9;'>
    <div class='container-fluid m-4'>
      <div class='row text-center'>
        <b-card no-body class="overflow-hidden mx-auto custom-container" 
        style='background-color: #474D65'>
          <b-row no-gutters>
            <b-col md="5" cols="5" class='rounded-0 mx-auto my-auto'>
              <b-card-img :src="require('../assets/images/Login-amico.png')" 
                alt="Image" class="rounded-0 w-100">
              </b-card-img>
            </b-col>
            <b-col md="7" cols='12' style='background-color: #ffffff'>
              <b-card-body class='mx-auto'>
                <b-card-text
                  title="Welcome"
                  class="mt-4 mx-auto">
                    <h3 class='mt-4'>
                        Create an Account!
                    </h3>
                    <b-form-row class='mt-3 w-100'>
                        <b-form class='pl-lg-3 pr-lg-3 pt-lg-3 pb-0 mx-auto w-100'>
                          <b-row cols-sm='2' cols='1'>
                            <b-col>
                              <b-form-input
                                v-model="form.firstName"
                                type="text"
                                placeholder="First name" required
                                class="form-inputs mb-3 mr-md-2 mb-sm-0 rounded-pill">
                              </b-form-input>
                            </b-col>
                            <b-col>
                              <b-form-input
                                v-model="form.lastName"
                                type="text"
                                placeholder="Last name" required
                                class="form-inputs mb-3 mr-md-1 mb-sm-0 rounded-pill">
                              </b-form-input>
                            </b-col>
                          </b-row>
                          <b-form-input
                            v-model="form.email"
                            type="email"
                            placeholder="Enter email adress" required
                            size="lg"
                            class="form-inputs mt-sm-3 mb-3 rounded-pill">
                          </b-form-input>
                          <b-row cols-sm='2' cols='1'>
                            <b-col>
                              <b-form-input
                                v-model="form.password"
                                type="password"
                                placeholder="Password" required
                                size="lg"
                                class="form-inputs mt-1 mr-md-2 mb-3 rounded-pill">
                              </b-form-input>
                            </b-col>
                            <b-col>
                              <b-form-input
                                v-model="form.password2"
                                type="password"
                                placeholder="Repeat password" required
                                size="lg"
                                class="form-inputs mt-1 mr-md-1 mb-3 rounded-pill">
                              </b-form-input>
                            </b-col>
                          </b-row>

                        <b-form-group>
                          <b-button 
                            block pill
                            type="submit" 
                            variant="primary"
                            style="padding: 0.9em;"
                            class="mt-1">
                              Register account
                          </b-button>
                        </b-form-group>
                    </b-form>
                    </b-form-row>
                    <hr />
                    <div class='pl-lg-3 pr-lg-3 pt-lg-0 pb-0 mx-auto' >
                      <b-button 
                        block pill
                        variant="danger"
                        class="mt-4 p-3">
                          <b-icon icon="google" class='mr-2'></b-icon>
                              Register with google
                      </b-button>
                      <b-button 
                        block pill
                        style='background-color: #3b5998'
                        class="mt-2 p-3">
                          <b-icon icon="facebook" class='mr-2'></b-icon>
                              Register with facebook
                      </b-button>
                      <hr />
                      <p class='mb-1 mt-4'> 
                        <router-link to='/'>Forgot password?</router-link>
                      </p>
                      <p class='mb-1'>
                          <router-link to='/'>Already have an account? Login!</router-link>
                        </p>  
                    </div>                       
                    </b-card-text>
              </b-card-body>
            </b-col>
          </b-row>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
data() {
      return {
            form: {
            firstName: '',
            lastName: '',
            email: '',
            password: '',
            password2: ''
        }
      }
    }
}
</script>

<style>
.form-inputs {
    font-size: 100%;
    padding: 1.6em;
}
</style>