<template>
  <b-container fluid class='min-vh-100 m-0 p-0 d-flex' id='data-table'>
    <b-container class='mx-auto my-3'>
      <b-row class='d-flex justify-content-between my-1'>
        <b-col cols='12'>
          <b-row 
            class="ml-2 mt-2 mb-2" style="font-size:1.1em; color:#4E74DB; font-weight:bold;">
            Data Tables Example
          </b-row>
          <hr class='p-0 mt-1 mb-3' />
        </b-col>
        <b-col cols="3" lg="2" md='3' class='mb-2'>
          <b-form-group
            label="Show"
            label-for="per-page-select"
            label-cols-sm="5"
            label-cols-lg="4"
            label-align-md="right"
            label-size="sm"
            class="mb-0"
          >
            <b-form-select
              id="per-page-select"
              v-model="perPage"
              :options="pageOptions"
              size="sm"
            ></b-form-select>
          </b-form-group>
        </b-col>

        <b-col lg="6" cols='8'>
          <b-form-group
            label="Search"
            label-for="filter-input"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            class="mb-0"
          >
            <b-input-group size="sm">
              <b-form-input
                id="filter-input"
                v-model="filter"
                type="search"
                placeholder="Type to Search"
              ></b-form-input>

              <b-input-group-append>
                <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>

      <b-table
        :items="items"
        thead-tr-class='custom-header'
        tbody-class="custom-body"
        hover
        class='text-left mt-2 mb-0'
        :fields="fields"
        :current-page="currentPage"
        :per-page="perPage"
        :filter="filter"
        stacked="sm"
        show-empty
        @filtered="onFiltered"
      >
        <template #cell(name)="row">
          {{ row.value.first }} {{ row.value.last }}
        </template>
      </b-table>

      <div class='d-flex justify-content-between mt-2 p-0'>
        <router-link 
          to='/admin/dashboard'>
          <b-button 
            variant="primary">
              Back
          </b-button>
        </router-link>
        <b-pagination
          v-model="currentPage"
          first-text="Previous"
          last-text="Next"
          :total-rows="totalRows"
          :per-page="perPage"
          align="right"
          size="md">
        </b-pagination>
      </div>
    </b-container>       
  </b-container>
</template>

<script>
  export default {
    data() {
      return {
        items: [
          { name: { first: 'Dickerson', last: 'Macdonald' }, age: 40, position: 'Accountant', 
          office: 'Tokyo', startDate: '2008/11/28', salary: "$162.700" },
          { name: { first: 'Shaw', last: 'Larsen' }, age: 50, position: 'Junior Technical Autor', 
          office: 'London', startDate: '2003/11/23', salary: "$12.700" },
          { name: { first: 'Angela', last: 'Ramos' }, age: 35, position: 'Software Engineer', 
          office: 'San Francisco', startDate: '2008/01/10', salary: "$1.200.700" },
          { name: { first: 'Bradley', last: 'Cooper' }, age: 37, position: 'Software Engineer', 
          office: 'London', startDate: '2004/03/10', salary: "$1.200.700" },
          { name: { first: 'Ashley', last: 'Wagner' }, age: 45, position: 'Integration Specialist', 
          office: 'New York', startDate: '2008/01/23', salary: "$372.000" },
          { name: { first: 'Brielle', last: 'Wiliamson' }, age: 40, position: 'Pre-sales Support', 
          office: 'New York', startDate: '2005/06/27', salary: "$247.500" },
          { name: { first: 'Bruno', last: 'Nash' }, age: 28, position: 'Sales Assistant', 
          office: 'London', startDate: '2004/05/08', salary: "$190.200" },
          { name: { first: 'Caesar', last: 'Vance' }, age: 29, position: 'Senior Javascript Developer', 
          office: 'San Francisco', startDate: '2008/01/10', salary: "$3.500.00" },
          { name: { first: 'Yuki', last: 'Michaelis' }, age: 39, position: 'Chief Executive Officer', 
          office: 'Tokyo', startDate: '2006/06/28', salary: "$3.600.000" },
          { name: { first: 'Gwen', last: 'Stevens' }, age: 23, position: 'Software Engineer', 
          office: 'London', startDate: '2007/08/15', salary: "$950.500" },
          { name: { first: 'Cedric', last: 'Kelly' }, age: 26, position: 'Pre-Sales Support', 
          office: 'New York', startDate: '2005/10/05', salary: "$400.000" },
          { name: { first: 'Angel', last: 'Shiki' }, age: 30, position: 'Integration Specialist', 
          office: 'San Francisco', startDate: '2008/01/10', salary: "$580.400" },
          { name: { first: 'Horacio', last: 'Fernandez' }, age: 21, position: 'Accountant', 
          office: 'Tokyo', startDate: '2008/04/26', salary: "$162.700" },
          { name: { first: 'Sebastian', last: 'Ramirez' }, age: 25, position: 'Junior Technical Autor', 
          office: 'London', startDate: '2005/08/23', salary: "$100.700" },
          { name: { first: 'Beatrice', last: 'Ramirez' }, age: 30, position: 'Software Engineer', 
          office: 'San Francisco', startDate: '2008/01/10', salary: "$1.200.300" },
          { name: { first: 'Cesar', last: 'Acosta' }, age: 37, position: 'Software Engineer', 
          office: 'London', startDate: '2009/03/10', salary: "$1.200.500" },
          { name: { first: 'Diego', last: 'Macdonald' }, age: 40, position: 'Accountant', 
          office: 'Tokyo', startDate: '2006/03/28', salary: "$162.700" },
          { name: { first: 'Vanessa', last: 'Larsen' }, age: 32, position: 'Junior Technical Autor', 
          office: 'London', startDate: '2003/11/23', salary: "$123.400" },
          { name: { first: 'Esther', last: 'Ramses' }, age: 26, position: 'Junior Software Engineer', 
          office: 'San Francisco', startDate: '2008/01/10', salary: "$980.000" },
          { name: { first: 'Maria', last: 'Guevara' }, age: 23, position: 'Junior Software Engineer', 
          office: 'London', startDate: '2004/03/10', salary: "$980.500" },
          { name: { first: 'Dickerson', last: 'Macdonald' }, age: 40, position: 'Accountant', 
          office: 'Tokyo', startDate: '2008/11/28', salary: "$162.700" },
          { name: { first: 'Shaw', last: 'Larsen' }, age: 50, position: 'Junior Technical Autor', 
          office: 'London', startDate: '2003/11/23', salary: "$12.700" },
          { name: { first: 'Angela', last: 'Ramos' }, age: 35, position: 'Software Engineer', 
          office: 'San Francisco', startDate: '2008/01/10', salary: "$1.200.700" },
          { name: { first: 'Bradley', last: 'Cooper' }, age: 37, position: 'Software Engineer', 
          office: 'London', startDate: '2004/03/10', salary: "$1.200.700" },
          { name: { first: 'Ashley', last: 'Wagner' }, age: 45, position: 'Integration Specialist', 
          office: 'New York', startDate: '2008/01/23', salary: "$372.000" },
          { name: { first: 'Brielle', last: 'Wiliamson' }, age: 40, position: 'Pre-sales Support', 
          office: 'New York', startDate: '2005/06/27', salary: "$247.500" },
          { name: { first: 'Bruno', last: 'Nash' }, age: 28, position: 'Sales Assistant', 
          office: 'London', startDate: '2004/05/08', salary: "$190.200" },
          { name: { first: 'Caesar', last: 'Vance' }, age: 29, position: 'Senior Javascript Developer', 
          office: 'San Francisco', startDate: '2008/01/10', salary: "$3.500.00" },
          { name: { first: 'Yuki', last: 'Michaelis' }, age: 39, position: 'Chief Executive Officer', 
          office: 'Tokyo', startDate: '2006/06/28', salary: "$3.600.000" },
          { name: { first: 'Gwen', last: 'Stevens' }, age: 23, position: 'Software Engineer', 
          office: 'London', startDate: '2007/08/15', salary: "$950.500" },
          { name: { first: 'Cedric', last: 'Kelly' }, age: 26, position: 'Pre-Sales Support', 
          office: 'New York', startDate: '2005/10/05', salary: "$400.000" },
          { name: { first: 'Angel', last: 'Shiki' }, age: 30, position: 'Integration Specialist', 
          office: 'San Francisco', startDate: '2008/01/10', salary: "$580.400" },
          { name: { first: 'Horacio', last: 'Fernandez' }, age: 21, position: 'Accountant', 
          office: 'Tokyo', startDate: '2008/04/26', salary: "$162.700" },
          { name: { first: 'Sebastian', last: 'Ramirez' }, age: 25, position: 'Junior Technical Autor', 
          office: 'London', startDate: '2005/08/23', salary: "$100.700" },
          { name: { first: 'Beatrice', last: 'Ramirez' }, age: 30, position: 'Software Engineer', 
          office: 'San Francisco', startDate: '2008/01/10', salary: "$1.200.300" },
          { name: { first: 'Cesar', last: 'Acosta' }, age: 37, position: 'Software Engineer', 
          office: 'London', startDate: '2009/03/10', salary: "$1.200.500" },
          { name: { first: 'Diego', last: 'Macdonald' }, age: 40, position: 'Accountant', 
          office: 'Tokyo', startDate: '2006/03/28', salary: "$162.700" },
          { name: { first: 'Vanessa', last: 'Larsen' }, age: 32, position: 'Junior Technical Autor', 
          office: 'London', startDate: '2003/11/23', salary: "$123.400" },
          { name: { first: 'Esther', last: 'Ramses' }, age: 26, position: 'Junior Software Engineer', 
          office: 'San Francisco', startDate: '2008/01/10', salary: "$980.000" },
          { name: { first: 'Maria', last: 'Guevara' }, age: 23, position: 'Junior Software Engineer', 
          office: 'London', startDate: '2004/03/10', salary: "$980.500" },
          { name: { first: 'Edwid', last: 'Fernandez' }, age: 37, position: 'Software Engineer', 
          office: 'London', startDate: '2009/03/10', salary: "$1.200.500" },
          { name: { first: 'Marcel', last: 'Amatista' }, age: 40, position: 'Accountant', 
          office: 'Tokyo', startDate: '2006/03/28', salary: "$162.700" },
          { name: { first: 'Margaret', last: 'Larsen' }, age: 32, position: 'Junior Technical Autor', 
          office: 'London', startDate: '2003/11/23', salary: "$123.400" },
          { name: { first: 'Margarita', last: 'lambada' }, age: 26, position: 'Junior Software Engineer', 
          office: 'San Francisco', startDate: '2008/01/10', salary: "$980.000" },
          { name: { first: 'Andrés', last: 'martinez' }, age: 23, position: 'Junior Software Engineer', 
          office: 'London', startDate: '2004/03/10', salary: "$980.500" }
        ],
        fields: [
          { key: 'name', label: 'Name'},
          { key: 'position', label: 'Position' },
          { key: 'office', label: 'Office' },
          { key: 'age', label: 'Age' },
          { key: 'startDate', label: 'Start Date' },
          { key: 'salary', label: 'Salary' }
        ],
        totalRows: 1,
        currentPage: 1,
        perPage: 10,
        pageOptions: [5, 10, 15, 20],
        filter: null,
      }
    },
    mounted() {
      this.totalRows = this.items.length
    },
    methods: {
      onFiltered(filteredItems) {
        this.totalRows = filteredItems.length
        this.currentPage = 1
      }
    }
  }
</script>

<style>
  .custom-header { color:#9d9db1; }
  #data-table, .custom-body { color: #7a7a7a; }
</style>