<template>
  <b-container class='m-0 p-0' style="border-radius:0.4em;">
    <b-card no-body class="overflow-hidden h-100" style="border-radius:0.4em;">
      <b-row no-gutters class='h-100'>
        <b-col :cols="col" :style="getStyle('background', color)">
        </b-col>
        <b-col cols="8">
          <b-card-body class='pt-lg-3 pb-lg-3 pl-lg-3 pt-2 pl-2 pr-0'>
            <b-card-text class="m-0 p-0 text-left">
              <span 
                :style="getStyle('text', color)">
                  {{ principalText }}
              </span>
              <br />
              <span style="font-weight:bold; font-size:1.1em;">{{ secondaryText }}</span>
            </b-card-text>
          </b-card-body>
        </b-col>
        <b-col cols="3">
          <b-icon
            :icon='icon'
            style="color:#B6B6C7"
            font-scale="2.2" 
            class='d-flex align-content-center mt-4 mx-auto'>
          </b-icon>
        </b-col>
      </b-row>
    </b-card>
  </b-container>    
</template>

<script>
export default {
    name: 'Cards',
    props: {
      principalText: String,
      secondaryText: String,
      icon: String,
      color: String
    }, methods: {
      getStyle(place, color) {
        switch (place) {
          case 'background':
            return `background-color:${color};`
          break;
          case 'text':
            return `font-weight:bold; font-size:0.9em; color:${color};`
          break;
          default:
            return '';
          break;
        }
      }
    }
}
</script>

<style>
</style>