<template>
  <div
    class="header m-0 pt-sm-3 pb-sm-3 pb-2 pl-0 pt-3">
        <b-row class='w-100 m-0'>
            <b-col col sm='5' cols='7' class='w-100 pl-0 pr-2 pr-sm-0'>
              <div class='d-flex flex-row-reverse w-100'>
                <b-button type="submit" id='search-btn'>
                    <span id='search-icon'>
                        <b-icon
                          icon='search' style='width:16px; margin-bottom: 0px;'></b-icon>
                    </span>
                </b-button>
                <b-form-input
                  placeholder="Search for..."
                  size="md"
                  style="padding: 1.2em;"
                  class="w-100 border-0 ml-sm-2"
                  id='search-bar'>
                </b-form-input>
                <b-button variant="light"
                  class='rounded-circle ml-3'
                  id='movil-menu'
                  v-b-toggle.sidebar-menu>
                    <span style="width:30px; height:30px;">
                        <b-icon
                          icon='list' style='color: #2e5bbd'></b-icon>
                    </span>
                </b-button>
                <b-sidebar
                  id="sidebar-menu"
                  aria-labelledby="sidebar-no-header-title"
                  body-class="custom-color"
                  no-header shadow >
                    <template #default="{ hide }">
                        <b-form-group>
                          <Sidebar :small='false' class='pt-2 pl-3 pr-4 h-100' />
                        </b-form-group>
                        <b-button
                        @click="hide"
                        style="border-radius:2em; height:2.9em; background-color:#8FA6E4; border:0;"
                        class='mx-auto d-flex align-content-center mt-2'>
                        <b-icon icon='chevron-left'
                          class='mt-2 mx-auto'
                          style="font-size:18px;"></b-icon>
                      </b-button>

                    </template>
                </b-sidebar>
              </div>
             </b-col>
            <b-col col sm='7' cols='5' class='w-100 pl-0 pr-2'>
              <div class='d-flex flex-row-reverse w-100'>
              <Profile />
              <b-row class='mr-sm-4 mr-2'>
                <Messages class='mr-sm-0 mr-2' />
                <Notifications class='ml-sm-3 mr-sm-0 mr-1'/>
              </b-row>
              </div>
            </b-col>
        </b-row>
  </div>
</template>

<script>
import Sidebar from './Sidebar'
import Notifications from './Notifications'
import Messages from './Messages'
import Profile from './Profile'


export default {
    name: 'Header',
    components: {
      Notifications, Messages, Profile, Sidebar
    }
}
</script>

<style>
.header {
    box-shadow: 0px 0px 30px 0 rgba(14, 3, 65, 0.288);
}
#search-btn { background-color: #2e5bbd; border-color: #2e5bbd; }
#movil-menu { display: none; }
.custom-color { background-color: #4E74DB; }

@media (max-width: 580px) {
  #search-btn {
    background-color: #ffffff ; border-color: #ffffff;
    border-radius: 2rem;
    width:40px; height: 40px;
  }
  #search-icon { color: #c9c9c9; }
  #search-bar { visibility: hidden !important; }
  #movil-menu { display:block; top:0; }
}
</style>
