<template>
  <div>
      <div id='container'>
        <b-button id="popover-2"
            variant="light" 
            class='rounded-circle' ref="button">
            <span>
                 <b-icon icon="envelope-fill" style="color: #9c9b9b91; width:16px;"></b-icon>
            </span>
             <span 
                class="position-absolute top-0 start-75 translate-middle badge text-white bg-danger">
                +{{ messages.length }}
            </span>       
        </b-button>  

        <b-popover
            target="popover-2"
            triggers="click"
            placement="bottomleft"
            container="container"
            custom-class="custom-class"
            ref="popover"
            >
            <template #title>
                Messages center
            </template>

            <div>
                <div v-if="messages.length>0">
                    <div v-for="m in messages" :key="m.id">
                        <b-card id='msg' no-body style="width: 17em; max-width: 18em;">
                            <b-row no-gutters class='mt-sm-2 mb-sm-2 ml-sm-2 mr-sm-1 mt-1'>
                            <b-col md="3" cols="3">
                                <b-img :src="m.userPfp"
                                    rounded="circle"
                                    style="max-height: 2.5em;"
                                    class='mx-auto d-flex justify-content-center'
                                   >
                                </b-img>
                            </b-col>
                            <b-col md="9" cols="9">
                                <b-card-body class='pl-1 pr-0 pb-1 pt-0 mr-0'>
                                    <b-card-text 
                                        style="font-size: 1.1em;" 
                                        class='mb-0 ml-1'>
                                        {{ m.message }} 
                                    </b-card-text>
                                    <span 
                                        style="color: #B6B6C7; padding-bottom: 0.5em; font-size: 0.9em;">
                                        {{ m.user }} - {{ m.sended }}
                                    </span>
                                </b-card-body>
                            </b-col>
                            </b-row>
                        </b-card>              
                    </div>
                </div>
                <footer class='text-center mt-1 p-2'>
                    <router-link to='/' style="color:#B6B6C7; text-decoration:none;">Read more messages</router-link>
                </footer>
            </div>
        </b-popover> 
      </div>
  </div>
</template>

<script>
export default {
    name: 'Messages',
    data() {
        return {
            messages: [
                {   
                    id: 1,
                    user: 'Alina Garcia',
                    message: "Hey! It was a good ni...",
                    sended: "10m",
                    userPfp: 'https://picsum.photos/id/1062/1000/1000'
                },
                {
                    id: 2,
                    user: 'Miguel Arcia',
                    message: "Whats up?",
                    sended: "30m",
                    userPfp: "https://picsum.photos/1000/1000?random=2"
                },
                {   
                    id: 3,
                    user: 'Josh Ocque',
                    message: "Can you come visit m...",
                    sended: "1d",
                    userPfp: "https://picsum.photos/1000/1000?random=4"
                },
                {   
                    id: 4,
                    user: 'Oli Marquez',
                    message: "Hey there! Have an ord...",
                    sended: "2w",
                    userPfp: "https://picsum.photos/1000/1000?random=82"
                }
            ]
        }
    }
}
</script>

<style scoped>
#msg:hover {
 font-weight: bold;
}
</style>