<template>
  <div>
      <div id="container">
        <b-button id="popover-1"
            variant="light" 
            class='rounded-circle' ref="button">
                <span>
                    <b-icon icon="bell-fill" font-scale="1" style="color: #9c9b9b91; width:16px;"></b-icon>
                </span>
                <span 
                class="position-absolute top-0 s
                tart-75 translate-middle badge text-white bg-danger">
                +{{ notifications.length }}
                </span>       
        </b-button>  
        <b-popover
            target="popover-1"
            triggers="click"
            placement="bottomleft"
            container="container"
            custom-class="custom-class"
            >
            <template #title>
                Alerts center
            </template>

            <div>
                <div v-if="notifications.length>0">
                    <div v-for="n in notifications" :key="n.id" id='notification'>
                        <b-card no-body :header="n.date" style="width: 17rem; max-width: 20rem;">
                            <b-row no-gutters>
                            <b-col md="2" cols="3">
                                <span id='icon' 
                                :style="{'background-color': color(n.type)}"
                                class='ml-md-2 ml-3 pt-2 pb-1 mt-0 mt-sm-3'>
                                    <b-icon 
                                    style='width:20px; height:20px;'
                                    :icon='getIcon(n.type)'  
                                    class='mr-0 mt-md-3 mt-0 pt-sm-0 mt-2'></b-icon>
                                </span>
                            </b-col>
                            <b-col md="10" cols="9">
                                <b-card-body class='pl-2 pr-2 pb-sm-3 pt-1 pb-1'>
                                    <b-card-text>
                                        {{ n.text }}
                                    </b-card-text>
                                </b-card-body>
                            </b-col>
                            </b-row>
                        </b-card>              
                    </div>
                </div>
                <footer class='text-center p-2'>
                    <router-link to='/' style="color:#B6B6C7; text-decoration:none;">Show all alerts</router-link>
                </footer>
            </div>
        </b-popover>
    </div>  
  </div>
</template>

<script>
export default {
    name: 'Notifications',
    data() {
        return {
            notifications: [
                {
                    id: 1,
                    type: "alert",
                    text: "Spending alert: We've noticed unusually high spending for your account",
                    date: "March 14, 2021"
                },
                {
                    id: 2,
                    type: "received-transfer",
                    text: "$290.99 has been deposited into your account!",
                    date: "March 15, 2021"
                },
                {   id: 3,
                    type: "info",
                    text: "A new monthly report is ready to download!",
                    date: "March 16, 2021"
                }
            ]
        }
    },
    methods: {
      getIcon(type) {
            switch (type) {
                default:
                    return "exclamation-triangle-fill"
                break;
                case 'info':
                    return "info-circle-fill"
                break;
                case 'received-transfer':
                    return "cash"
                break;
            }
        },
        color(type) {
            switch (type) {
                default:
                    return "#F1BE5E"
                break;
                case 'info':
                    return "#4E62D4"
                break;
                case 'received-transfer':
                    return "#3AAC22"
                break;
            }
        }
    }
}
</script>

<style>
.custom-class {
  color: var(--white);
  background-color: var(--white);
}
.popover-header {
    background-color: var(--primary);
}
.popover-body { padding: 0 }
.card-header { background-color: #ffffff; color: #B6B6C7; padding: 0.5em; }
#icon { border-radius: 4em; padding: 0.4em;color: #ffffff; }

@media (max-width: 580px) {
    .card-header { padding: 0.2em; }
}
</style>