<template>
  <div class='container m-0 p-0' id='option-container'>
      <div v-if="small">
          <div v-if='options.length>0'>
              <b-button
                :id="collapseName"
                :class='classes'
                style="font-size:0.6em;">
                <b-icon
                    :icon='icon'
                    class="custom-icon" 
                    font-scale="1.3" >
                </b-icon>
                 <br> 
                    {{ title }}
                </b-button>

                <b-popover
                    :target="collapseName"
                    triggers="hover"
                    placement="right"
                    container="option-container"
                    >
                    <b-card :header='cardHeader'
                    style="width: 9rem; max-width: 10rem;">
                        <div v-for="(o, index) in options" :key="index">
                            <router-link :to='link'>
                                <b-button
                                    class='w-100 custom-btn'
                                    variant="light"
                                    style="font-size: 0.9em;">
                                        <span class='ml-2'>{{ o }}</span>
                                </b-button>
                            </router-link>
                        </div>
                    </b-card>
                </b-popover> 
          </div>
          <div v-else>
              <router-link :to='link'>
                <b-button
                    :class='classes'
                    variant="primary"
                    style="font-size:0.6em;"
                >
                    <b-icon
                        :icon='icon'
                        class="custom-icon" >
                    </b-icon>
                    <br />
                        {{ title }}
                </b-button>
            </router-link>
          </div>
      </div>
      <div v-else >
          <div v-if="options.length>0">
            <b-button
                :class='classes'
                :aria-expanded="visible ? 'true' : 'false'"
                :aria-controls='collapseName'
                variant="primary"
                @click="visible = !visible">
                <b-icon
                    :icon='icon'
                    class="custom-icon" 
                    font-scale="1.3" >
                </b-icon>
                    {{ title }}
                </b-button>

                <b-collapse :id='collapseName' v-model="visible" class="mt-2">
                    <b-card :header='cardHeader'>
                        <div v-for="(o, index) in options" :key="index">
                            <b-button
                            class='w-100 custom-btn'
                            variant="light">
                                {{ o }}
                            </b-button>
                        </div>
                    </b-card>
                </b-collapse>
        </div>
        <div v-else>
            <router-link :to='link'>
                <b-button
                    :class='classes'
                    variant="primary"
                >
                    <b-icon
                        :icon='icon'
                        class="custom-icon" >
                    </b-icon>
                        {{ title }}
                </b-button>
            </router-link>
        </div>
      </div>
  </div>
</template>

<script>
export default {
    name: 'Option',
    props: {
        icon: String,
        title: String,
        collapseName: String,
        options: {
            type: Array,
            default: function () {
            return []
        }
        },
        classes: String,
        small: {
            type: Boolean,
            default: true
        },
        cardHeader: String,
        link: {
            type: String,
            default: ''
        }
    },
    data() {
        return {
            visible: false
        }
    },
    methods: {

    }
}
</script>

<style scoped>
.card-body { padding:0; }
.card-header {
    font-size: 0.9em;
    padding: 0.4em;
    text-align: left;
    margin-left: 0.2em;
    color: #9898b4
}
.custom-btn {
    font-size: 0.8em;
    margin: 0;
    padding: 0.5em;
    text-align: left;

}
.principal-btn {
    background-color: #4E74DB; 
    border-color:#4E74DB;
    color: #A7BDF8;
    font-size:0.9em;

}
.principal-btn:hover {
    color: #ffffff;
}
</style>
