<template>
  <div>
      <div id='container'>
             <span class='mr-1' style='color: #858383;' id='name'>
                Anne Torrens
            </span>
            <b-img 
                fluid 
                src='../assets/images/Ghostbunn - Push.png'
                rounded="circle"
                style="max-width: 2.3rem;"
                id="popover-3"></b-img>

            <b-popover
                    target="popover-3"
                    triggers="click"
                    placement="bottomleft"
                    container="container"
                    custom-class="custom-class"
                    ref="popover"
                    >
                    <div 
                        style="width: 9rem; font-size:1.2em;"
                        class='container-fluid mt-2 p-0'>
                        <b-row class='m-0'> 
                            <b-button class='w-100 mr-0 text-left' variant='light'>
                                <b-icon
                                    icon='person-fill' class='custom-icon m-0 p-0'>>
                                 </b-icon>
                                 Profile
                            </b-button>
                        </b-row>
                        <b-row class='m-0'> 
                            <b-button class='w-100 mr-0 text-left' variant='light'>
                                <b-icon
                                    icon='gear-fill' class='custom-icon'>>
                                </b-icon>
                                Settings
                            </b-button>
                        </b-row>
                        <b-row class='m-0'> 
                            <b-button class='w-100 mr-0 text-left mb-0' variant='light'>
                                <b-icon
                                    icon='list-ul' class='custom-icon'>>
                                </b-icon>
                                Activity log
                            </b-button>
                        </b-row>
                        <hr  class='mb-0 mt-1' />
                        <b-row class='m-0'> 
                            <router-link class="w-100"
                                to='/'>
                                <b-button class='w-100 mr-0 text-left pb-3 pt-2' variant='light'>
                                    <b-icon
                                        icon='arrow-bar-right' class='custom-icon'>>
                                    </b-icon>
                                    Log out
                                </b-button>
                            </router-link>
                        </b-row>
                    </div>
            </b-popover> 
      </div>
  </div>
</template>

<script>
export default {
    name: 'Profile'
}
</script>

<style scoped>
.custom-icon { color: #9c9b9b91; width:16px; text-decoration: none; }

@media (max-width: 580px) {
 #name {
     display: none;
 }
}
</style>