<template>
  <b-container class='m-0 p-0 p-lg-1 h-75 w-100' style='background-color: #4E74DB'>
      <b-row class='w-100 p-0 m-0'>
        <b-col
        style="height:4.7em; padding:0;"
        cols='12'
        class='d-inline-flex'>
            <b-icon
              icon='emoji-laughing-fill'
              font-scale="2.5"
              rotate="-45"
              class='d-flex align-content-center my-auto ml-1 ml-md-2 ml-lg-3'
              style="color:#ffffff;">
            </b-icon>
            <span v-if="!small" 
            style="color:#ffffff; font-size: 1.1em; font-weight:bold;" 
            class='my-auto ml-2'> SB admin </span>
        </b-col>
        <b-col class='h-100 p-0'>
          <hr class='m-0 custom-line ml-2 mr-2' />
          <div
            class='mt-3'
            :style="getStyles(small)">
            <b-icon
              icon='clipboard-data'
              style="color:#ffffff;" 
              font-scale="1.3"
              class='custom-icon'></b-icon>
            <span v-if="small"> <br> </span>
            <span style="color:#ffffff;">Dashboard</span>
             <hr class='mt-3 mb-3 ml-2 mr-2 custom-line' />
            <span
              style='color:#A0B5ED'>
              Interface
            </span>
          </div>
          <div v-if="options.interface.length>0">
            <div v-for="o in options.interface" :key="o.id">
              <Option :classes='getProps(small)'
              :icon='o.icon'
              :title='o.name'
              :collapseName='o.collapse'
              :small='small'
              :options='o.subOptions'
              :cardHeader='o.header'
              :link='o.link' class='mt-2 mb-1'/>
            </div>
          </div>

          <hr class='mt-3 mb-3 ml-2 mr-2 custom-line' />
          <div
            :style="getStyles(small)">
              <span style='color:#A0B5ED'>
                Add ons
              </span>
          </div>

          <div v-if="options.addOns.length>0">
            <div v-for="o in options.addOns" :key="o.id">
              <Option :classes='getProps(small)'
              :icon='o.icon'
              :title='o.name'
              :collapseName='o.collapse'
              :small='small'
              :options='o.subOptions'
              :cardHeader='o.header'
              :link='o.link' class='mt-2 mb-1' />
            </div>
          </div>
          <hr class='mt-3 mb-3 ml-2 mr-2 custom-line' />
        </b-col>
      </b-row>
  </b-container>
</template>

<script>
import Option from './Option'
export default {
  components: { Option },
    name: 'Sidebar',
    props:{
      small: {
        type: Boolean,
        default: true
      }
    },
    data() {
      return {
        options: {
          interface: [
            {
              id: 1,
              collapse: 'coll-1',
              name: 'Components',
              icon: 'gear-fill',
              subOptions: ['Buttons', 'Cards'],
              header: 'Custom component'
            },
            {
              id: 2,
              collapse: 'coll-2',
              name: 'Utilities',
              icon: 'tools',
              subOptions: ['Create a component', 'Tools'],
              header: 'Utilities'
            }
          ],
          addOns: [
            {
            id: 3,
            collapse: 'coll-3',
            name: 'Pages',
            icon: 'folder-fill',
            subOptions: ['Create a new page', 'List pages'],
            header: 'Pages'
          },
          {
            id: 4,
            name: 'Charts',
            icon: 'pie-chart-fill',
            link: '/'
          },
          {
            id: 5,
            name: 'Tables',
            icon: 'table',
            link: '/admin/tables'
          }
          ]
        }
      }
    },
    methods: {
      getProps(small) {
        if(small) {
          return 'w-100 mt-1 p-0 principal-btn'
        } else { 
          return "w-100 mt-1 p-1 text-left principal-btn visible ? null : 'collapsed'" 
        }
      },
        getStyles(small) {
          if(small) {
            return "font-size:0.7em; font-weight:bold; text-align:center; margin:auto;"
          }
          else { 
            return "font-size:0.9em; font-weight:bold; margin-left:0.2em; text-align:left;" 
          }
        }
      }
}
</script>

<style>
.custom-icon {
  margin-right:4px; 
  margin-left:3px; 
  margin-bottom:2px;
  margin-top:3px;
}
.custom-line {
  border-color:#AABCEF;
}
</style>
