<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  width: 100%;
}
.custom-container {
    box-shadow: 0px 0px 45px 0 rgba(14, 3, 65, 0.288);
}
.form-inputs {
    font-size: 100%;
    padding: 1.6em;
}
</style>
